{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML5 CSS3 JavaScript Django e_commerce furniture">
        <meta name="author" content="Nedaa Ryad">
        <meta name="description" content="E-Commerce-furniture">
        <title>{% block title %} {% endblock title %} | WHITE DOVE </title>
        <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;800;900&family=Island+Moments&family=Jomhuria&family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="{% static 'app/CSS/normalize.css' %} ">
        <link rel="stylesheet" href="{% static 'app/CSS/all.min.css' %} ">
        <link rel="stylesheet" href="{% static 'app/CSS/main.css' %}">

    </head>

    <body>
        {% block header %}
        <header>
            <div class="container">
                <div>
                    <p>Welcome to white dove Furniture Store Website</p>
                    <ul class="links">
                        <li>
                            <a href="#" title="Contact us on WhatsApp">
                                <i class="fa-brands fa-whatsapp fa-fw fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Contact us on Email">
                                <i class="fa-solid fa-at fa-fw fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us on Facebook">
                                <i class="fa-brands fa-facebook fa-fw fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us on Instagram">
                                <i class="fa-brands fa-instagram fa-fw fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us on Twitter">
                                <i class="fa-brands fa-twitter fa-fw fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <nav>
                    <div>
                        <a href="{% url 'products:homePage' %}" class="logo">
                            <h2>white dove</h2>
                            <img src="{% static 'app/images/logo-page_.png' %}" alt="Logo">
                        </a>
                        <ul class="list-content" id="sidenav">
                            <div>
                                <h5>white dove</h5>
                                <a href="javascript:void(0)" onclick="closeNav()">&times;</a>
                            </div>
                            <li class="dropdown_one">
                                <a href="#">collections</a>
                                <i class="fa fa-caret-down"></i>
                                <div class="mega-menu">
                                    <div class="box"
                                        title="Click On Link To View Objects Of Modern-White Dove Collection">
                                        <img src="{% static 'app/images/banner/collections-page1.jpg' %}"
                                            alt="Modern-Collection" />
                                        <div class="info">
                                            <a href="{% url 'products:modern_Collection' %}">modern-white dove
                                                <span>collection</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box"
                                        title="Click On Link To View Objects Of Contemporary-White Dove Collection">
                                        <img src="{% static 'app/images/banner/collections-page2.jpg' %}"
                                            alt="Contemporary-Collection" />
                                        <div class="info">
                                            <a href="{% url 'products:contemporary_Collection' %}">contemporary-white
                                                dove
                                                <span>collection</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box"
                                        title="Click On Link To View Objects Of Classic-White Dove Collection">
                                        <img src="{% static 'app/images/banner/collections-page3.jpg' %}"
                                            alt="Classic-Collection" />
                                        <div class="info">
                                            <a href="{% url 'products:classic_Collection' %}">classic-white dove
                                                <span>collection</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'product:All_Products' %}">products</a>
                            </li>
                            <li>
                                <a href="{% url 'products:news' %}">news</a>
                            </li>
                            <li class="dropdown_two">
                                <a href="#">company</a>
                                <i class="fa fa-caret-down"></i>
                                <div class="info-company">
                                    <a href="{% url 'products:about_Us' %}">about us</a>
                                    <a href="{% url 'products:history' %}">history of white dove</a>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'products:contact_Us' %}">contact
                                    us</a>
                            </li>
                            <ul>
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'products:profile' %}">
                                        <i class="fa-solid fa-user fa-fw fa-lg"></i>
                                        <span>{{ request.user }}</span>
                                    </a>
                                </li>
                                <li id="cart">
                                    <a href="{% url 'products:show_cart' %}">
                                        <div class="count">
                                            {% if totalaitem > 0 %}
                                            <span> {{ totalaitem }} </span>
                                            {% else %}
                                            <span>0</span>
                                            {% endif %}
                                            <i class="fa-solid fa-cart-arrow-down fa-fw fa-lg"></i>
                                        </div>
                                        <span>cart</span>
                                    </a>
                                </li>
                                <li id="wishlist">
                                    <a href="{% url 'products:wishlist' %}" title="Wishlist">
                                        <div class="count">
                                            {% if wishlist > 0 %}
                                            <span>{{ wishlist }}</span>
                                            {% else %}
                                            <span>0</span>
                                            {% endif %}
                                            <i class="fa-solid fa-heart fa-fw fa-lg"></i>
                                        </div>
                                        <span>wishlist</span>
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'products:login' %}">
                                        <i class="fa-solid fa-user fa-fw fa-lg"></i>
                                        <span>account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'products:show_cart' %}">
                                        <i class="fa-solid fa-cart-arrow-down fa-fw fa-lg"></i>
                                        <span>cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'products:wishlist' %}" title="Wishlist">
                                        <i class="fa-solid fa-heart fa-fw fa-lg"></i>
                                        <span>wishlist</span>
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="#">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>
                                        <span>search</span>
                                    </a>
                                    <form role="search" action="/search">
                                        <input type="search" name="search" placeholder="Search For Products" class="form-control" aria-label="search" />
                                        <i class="fa-solid fa-arrow-right-long fa-fade arrow-right"></i>
                                    </form>
                                </li>
                            </ul>
                            <ul class="links">
                                <li>
                                    <a href="#" title="Contact us on WhatsApp">
                                        <i class="fa-brands fa-whatsapp fa-fw fa-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Contact us on Email">
                                        <i class="fa-solid fa-at fa-fw fa-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Follow us on Facebook">
                                        <i class="fa-brands fa-facebook fa-fw fa-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Follow us on Instagram">
                                        <i class="fa-brands fa-instagram fa-fw fa-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Follow us on Twitter">
                                        <i class="fa-brands fa-twitter fa-fw fa-lg"></i>
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>
                                <span>search</span>
                            </a>
                            <form role="search" action="/search">
                                <input type="search" name="search" placeholder="Search For Products" class="form-control" aria-label="search" />
                                <i class="fa-solid fa-arrow-left-long fa-fade arrow-left"></i>
                            </form>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'products:profile' %}">
                                <i class="fa-solid fa-user fa-fw fa-lg"></i>
                                <span>{{ request.user }}</span>
                            </a>
                        </li>
                        <li id="cart">
                            <a href="{% url 'products:show_cart' %}">
                                <div class="count">
                                    {% if totalaitem > 0 %}
                                    <span> {{ totalaitem }} </span>
                                    {% else %}
                                    <span>0</span>
                                    {% endif %}
                                    <i class="fa-solid fa-cart-arrow-down fa-fw fa-lg"></i>
                                </div>
                                <span>cart</span>
                            </a>
                        </li>
                        <li id="wishlist">
                            <a href="{% url 'products:wishlist' %}" title="Wishlist">
                                <div class="count">
                                    {% if wishlist > 0 %}
                                    <span>{{ wishlist }}</span>
                                    {% else %}
                                    <span>0</span>
                                    {% endif %}
                                    <i class="fa-solid fa-heart fa-fw fa-lg"></i>
                                </div>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'products:login' %}">
                                <i class="fa-solid fa-user fa-fw fa-lg"></i>
                                <span>account</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'products:show_cart' %}">
                                <i class="fa-solid fa-cart-arrow-down fa-fw fa-lg"></i>
                                <span>cart</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'products:wishlist' %}" title="Wishlist">
                                <i class="fa-solid fa-heart fa-fw fa-lg"></i>
                            </a>
                        </li>
                        {% endif %}

                        <li title="Translation">
                            <a href="#"></a>
                        </li>
                        <div onclick="openNav()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </ul>
                </nav>
            </div>
        </header>
        {% endblock header %}

        {% block main_content %}{% endblock main_content %}
        {% block payment-gateway %}{% endblock payment-gateway %}

        <section class="subscribe">
            <div class="container">
                <p>subscribe to our newsletter and receive the latest product news, stories, invitations to exclusive
                    design events and
                    much, much more.</p>
                <form>
                    <input type="email" name="email" placeholder="enter email address">
                    <input type="submit" value="subscribe">
                </form>
            </div>
        </section>

        <footer>
            <div class="container">
                <a href="{% url 'products:homePage' %}" class="logo">
                    <h2>white dove</h2>
                    <img src="{% static 'app/images/logo-page_.png' %}" alt="">
                </a>
                <ul class="links">
                    <li>
                        <a href="#" title="Contact us on WhatsApp">
                            <i class="fa-brands fa-whatsapp fa-fw fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Contact us on Email">
                            <i class="fa-solid fa-at fa-fw fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Follow us on Facebook">
                            <i class="fa-brands fa-facebook fa-fw fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Follow us on Instagram">
                            <i class="fa-brands fa-instagram fa-fw fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Follow us on Twitter">
                            <i class="fa-brands fa-twitter fa-fw fa-lg"></i>
                        </a>
                    </li>
                </ul>
                <ul class="list-content">
                    <li>
                        <a href="{% url 'products:contemporary_Collection' %}">collections</a>
                    </li>
                    <li>
                        <a href="{% url 'product:All_Products' %}">products</a>
                    </li>
                    <li>
                        <a href="{% url 'products:news' %}">news</a>
                    </li>
                    <li>
                        <a href="{% url 'products:about_Us' %}">company</a>
                    </li>
                    <li>
                        <a href="{% url 'products:contact_Us' %}">contact us</a>
                    </li>
                </ul>
                <ul class="info">
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'products:profile' %}">
                            <i class="fa-solid fa-user fa-fw fa-lg"></i>
                            <span>{{ request.user }}</span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'products:login' %}">
                            <i class="fa-solid fa-user fa-fw fa-lg"></i>
                            <span>account</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'products:show_cart' %}">
                            <i class="fa-solid fa-cart-arrow-down fa-fw fa-lg"></i>
                            <span>cart</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'products:wishlist' %}">
                            <i class="fa-solid fa-heart fa-fw fa-lg"></i>
                            <span>wishlist</span>
                        </a>
                    </li>
                </ul>
                <div class="contact">
                    <div class="data">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <span>al riyadh, saudi arabia</span>
                    </div>
                    <div class="data">
                        <i class="fa-solid fa-envelope"></i>
                        <span>info@example.com</span>
                    </div>
                    <div class="data">
                        <i class="fa-solid fa-phone-volume"></i>
                        <span>+966991274892</span>
                    </div>
                </div>
                <div class="gallery">
                    <div class="box">
                        <img src="{% static 'app/images/banner/our_collection.jpg' %}" alt="Dark Red Couch">
                    </div>
                    <div class="box">
                        <img src="{% static 'app/images/product/blue-chair1.jpg' %}" alt="Blue chair">
                    </div>
                    <div class="box">
                        <img src="{% static 'app/images/banner/classic_1.jpg' %}" alt="Black Couch">
                    </div>
                    <div class="box">
                        <img src="{% static 'app/images/product/sofa-light2.jpg' %}" alt="Brown chair">
                    </div>
                    <div class="box">
                        <img src="{% static 'app/images/product/living-room2.jpg' %}" alt="Blue living room">
                    </div>
                    <div class="box">
                        <img src="{% static 'app/images/product/Collections-page-two_6.jpg' %}"
                            alt="Brown Dining table ">
                    </div>
                </div>
            </div>
            <div class="email" title="Contact With Me 'nedaaryad@gmail.com'">
                <span>made by ' nedaa ryad '</span>
                <a href="mailto:nedaaryad@gmail.com">
                    <i class="fa-solid fa-envelope fa-fade"></i>
                </a>
            </div>
        </footer>

        <button id="up-scroll">
            <i class="fa-solid fa-angles-up"></i>
        </button>

        <script src="{% static 'app/JS/all.min.js' %}"></script>
        <script src="{% static 'app/JS/base.js' %}"></script>

    </body>

</html>