{% extends "app/base.html" %}
{% load static %}

{% block title %} CONTEMPORARY COLLECTION {% endblock title %}


{% block main_content %}

<section class="collection-page">
    <div class="container">
        <div class="home-page pm-page ">
            <a href="{% url 'products:homePage' %}">home</a>
            <span>/ Contemporary collections</span>
        </div>
        <div class="content">
            <div class="text-collection">
                <h2 class="Contemporary">Contemporary-white dove <br> <span>collection</span></h2>
                <p>saudi luxury furniture with modern design and artisanal production</p>
            </div>
            <div class="images Contemporary">
                <img src="{% static 'app/images/banner/Contemporary-1.jpg' %}" alt="Contemporary-Furniture">
                <img src="{% static 'app/images/banner/Contemporary-2.jpg' %}" alt="Contemporary-Furniture">
                <img src="{% static 'app/images/banner/Contemporary-3.jpg' %}" alt="Contemporary-Furniture">
            </div>
        </div>
    </div>
</section>

<div class="bg-attachment">
    <div class="bg-Contemporary"></div>
</div>

<section class="products-collections">
    <div class="container">
        <div class="info">
            <h2>exclusive luxury contemporary furnishings born from the saudi craftsmanship mastery</h2>
            <p>Each product of the modern <span>white dove</span> collection is a unique and refined work, the
                result of the skillful work of
                the artisan and the contribution of some of the most brilliant nationally and internationally
                renowned architects.</p>
        </div>
        <div class="products-images">
            <div class="box">
                <img src="{% static 'app/images/banner/Contemporary-Furniture1.jpg' %}" alt="Contemporary-Furniture" class="Contemporary">
                <div class="box-inside Contemporary">
                    <div>
                        <img src="{% static 'app/images/banner/Contemporary-Furniture2.jpg' %}" alt="Contemporary-Furniture">
                    </div>
                    <div>
                        <img src="{% static 'app/images/banner/Contemporary-Furniture3.jpg' %}" alt="Contemporary-Furniture">
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="{% static 'app/images/banner/Contemporary-Furniture4.jpg' %}" alt="Contemporary-Furniture">
            </div>
        </div>
        <a href="{% url 'product:All_Products' %}">
            discover all the products
            <i class="fa-solid fa-arrow-right fa-fade"></i>
        </a>
    </div>
</section>

{% endblock %}