{% extends "app/base.html" %}
{% load static %}

{% block title %} HISTORY {% endblock title %}


{% block main_content %}
<div class="company-logo">
    <div class="container">
        <div>
            <img src="{% static 'app/images/logo-page_.png ' %}" alt="logo">
            <h2>white dove</h2>
        </div>
    </div>
</div>

<div class="history-company">
    <div class="container">
        <div class="home-page">
            <a href="index.html">home</a>
            <span>/ history</span>
        </div>
        <div class="history-container">
            <div class="info">
                <div class="section">
                    <div class="content">
                        <h2>yesterday</h2>
                        <p><span>white dove:</span> a long history of excellence with deep roots in the past</p>
                        <p>This story dates back to the beginning of the Nineteenth century when, in the Brianza’s
                            countryside, wood processing
                            appeared and started to grow, as some families began to produce furniture and accessories
                            for
                            the French noble mansions
                            in order to add an extra introit to the poor agricultural income. After the French
                            occupation,
                            that facilitated
                            commercial and cultural exchange between Paris, the most qualified artisans finally
                            abandoned
                            agriculture and devoted themselves to the artistic production of
                            valuable, fine furniture.</p>
                    </div>
                    <div class="img">
                        <img src="{% static 'app/images/banner/history-company.jpg' %}" alt="History">
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="section">
                    <div class="content">
                        <h2>today</h2>
                        <p><span>white dove:</span> a long history of excellence with deep roots in the past</p>
                        <p>This story dates back to the beginning of the Nineteenth century when, in the Brianza’s
                            countryside, wood
                            processing
                            appeared and started to grow, as some families began to produce furniture and accessories
                            for
                            the French noble
                            mansions
                            in order to add an extra introit to the poor agricultural income. After the French
                            occupation,
                            that facilitated
                            commercial and cultural exchange between Paris, the most qualified artisans finally
                            abandoned
                            agriculture and
                            devoted themselves to the artistic production of
                            valuable, fine furniture.</p>
                    </div>
                    <div class="img">
                        <img src="{% static 'app/images/banner/history.jpg' %}" alt="History">
                    </div>
                    <div class="content">
                        <h2>today</h2>
                        <p><span>white dove:</span> a long history of excellence with deep roots in the past</p>
                        <p>This story dates back to the beginning of the Nineteenth century when, in the Brianza’s
                            countryside, wood
                            processing
                            appeared and started to grow, as some families began to produce furniture and accessories
                            for
                            the French noble
                            mansions
                            in order to add an extra introit to the poor agricultural income. After the French
                            occupation,
                            that facilitated
                            commercial and cultural exchange between Paris, the most qualified artisans finally
                            abandoned
                            agriculture and
                            devoted themselves to the artistic production of
                            valuable, fine furniture.</p>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="section">
                    <div class="content">
                        <h2>tomorrow</h2>
                        <p><span>white dove:</span> a long history of excellence with deep roots in the past</p>
                        <p>This story dates back to the beginning of the Nineteenth century when, in the Brianza’s
                            countryside, wood processing
                            appeared and started to grow, as some families began to produce furniture and accessories
                            for
                            the French noble mansions
                            in order to add an extra introit to the poor agricultural income. After the French
                            occupation,
                            that facilitated
                            commercial and cultural exchange between Paris, the most qualified artisans finally
                            abandoned
                            agriculture and devoted themselves to the artistic production of
                            valuable, fine furniture.</p>
                    </div>
                    <div class="img">
                        <img src="{% static 'app/images/banner/history_2.jpg' %}" alt="History">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content%}