{% extends "app/base.html" %}
{% load static %}

{% block title %}
Change Password
{% endblock title %}

{% block main_content %}

<div class="change-password">
    <div class="container">
        <div class="home-page">
            <a href="{% url 'products:profile' %}">back</a>
        </div>
        <form method="post">
            <h3>create new Password</h3>
            {% csrf_token %}
            {% for fm in form %}
            {{fm.label_tag}} {{fm}}
            <small class="error">{{fm.errors|striptags}}</small>
            {% endfor %}

            <button type="submit">submit</button>

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="error">
                {{error}}
            </p>
            {% endfor %}
            {% endif %}
        </form>
    </div>
</div>

{% endblock main_content %}